<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/ica-slidebox-img-1.png" />
        <h2>Welcome</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque incidunt quod, assumenda, velit, provident amet sapiente fugit natus earum libero id excepturi officia quo? Accusantium porro quisquam laborum quis ea?
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/ica-slidebox-img-2.png" />
      <h2>What is Ionic?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, ullam ut rem rerum cumque minima inventore, necessitatibus ex doloribus exercitationem eius hic dicta quam modi veniam eos. Id, qui aperiam!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/ica-slidebox-img-3.png" />
      <h2>What is Appflow?</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit eos rerum, est pariatur laboriosam alias nemo reiciendis quibusdam dolor aspernatur maiores accusamus enim exercitationem cupiditate? Reiciendis ipsa placeat nisi ipsam!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/ica-slidebox-img-4.png" />
      <h2>Ready to Play?</h2>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
